node_modules
bower_components
backup/*.*
dist
vendor
uploads/*.*
backup/*.*
images/products/*.*
includes/*.pdf
includes/*.xlsx
includes/*.xls
includes/*.csv
includes/*.doc
includes/*.docx
includes/PHPExcel/MPDF57/**/*.*